<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style = "background-color: #f1f1f1">

<table style="font-family: 'Roboto', 'Helvetica', sans-serif;border-collapse: separate; margin : 0 auto;">
    <tr>
        <td>
            Hello!
        </td>
    </tr>
    <tr>
        <td style = "background-color: white;border-style: solid;border-color : #ddd;padding : 3%">

            <table>
                <tr>
                    <td style = "font-size: 1.3em">
                        <p>Your account is almost completed!<br> Please confirm your email address.</p>
                    </td>
                </tr>
                <tr style="font-weight: lighter">
                    <td>
                        By clicking on the following link, you are confirming your email address.
                    </td>
                </tr>
                <tr style="padding:20% 30% ; ">
                    <td style="border-radius:5px; padding: 0 20%; margin: 0 auto">
                        <a style="display : block;text-align: center; background-color: cornflowerblue;text-decoration: none;color:white; padding: 5% 5% 5% 5%; border-radius: 5px"
                           href="http://google.fr">
                            Confirm Email Address
                        </a>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td>

            <table style="border-collapse: collapse;width: 100%; text-align: center">
                <tr>
                    <td>
                        image here
                    </td>
                </tr>
                <tr>
                    <td style = "font-size:0.7em">
                        Clicked & Fixed
                    </td>
                </tr>
                <tr>
                    <td style=" font-size: 0.7em; margin-top: 3%; font-weight: lighter">
                        © 2019 UPLIFE 28, rue Notre-Dame des Champs, 75006 Paris, France
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0.8em">
                        BTB &nbsp; LinkedIn
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>


</body>
</html>